

// COLORS
$blue: #22a7f0;
$white: #ffffff;
$black: #000000;
$light-grey: #eee;
$grey: #76838f; // text color, ORDER SUB total
$dark-grey: #37474f; //panel title, ORDER total
$red: #D93648; // hover color
$yellow: #FCBE0A; // slider dots, slider title

// TEXT