hr {
  margin: 5px 0;
  padding: 0;
}

.txt-size-85 {
  font-size: 85%;
}

.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-bold {
  font-weight: bold;
}

.table_v1 {
  width: 100%;
  margin: 0;
  padding: 0;
}

.table_v1 thead {
  padding: 5px 0;
  background-color: #22a7f0;
  color: #ffffff;
  border-bottom: 1px solid #eee;
}

.table_v1 thead th {
  padding: 3px 5px;
  text-align: center;
}

.table_v1 tbody {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.table_v1 tbody tr td {
  padding: 3px 5px;
}

.table_v1 tbody tr.itemRow:nth-child(even) {
  background: #eee;
}

.borderBottom_v1 {
  border-bottom: 1px solid #76838f;
}

.padd_0 {
  padding: 0;
}

.padd_l_5 {
  padding-left: 5px;
}

.padd_r_5 {
  padding-right: 5px;
}

.padd_l_15 {
  padding-left: 15px;
}

.padd_r_15 {
  padding-right: 15px;
}

.mar_b_0 {
  margin-bottom: 0px !important;
}

.mar_b_5 {
  margin-bottom: 5px !important;
}

.mar_b_10 {
  margin-bottom: 10px !important;
}

.mar_l_10 {
  margin-left: 10px !important;
}

.mar_r_10 {
  margin-right: 10px !important;
}

.img100 {
  width: 100%;
  height: auto;
}

.img25 {
  width: 25%;
  height: auto;
}

.blockFormat img {
  width: 100%;
  height: auto;
}

.btnSmall {
  padding: 5px 8px 3px;
  font-size: 90%;
}

.inlineForms {
  display: inline-block;
  margin: 0 5px;
}

.bgWhite {
  background-color: #ffffff;
}

.flexWrap {
  display: flex;
  flex-wrap: wrap;
}

.ORD_subTotal {
  padding: 10px;
  font-size: 18px;
  background-color: #76838f;
  color: #ffffff;
}

.ORD_Discount {
  padding: 5px;
  font-size: 16px;
}

.ORD_Total {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: #37474f;
  color: #ffffff;
}

div.ytEmbedContainter {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

div.ytEmbedContainter iframe,
div.ytEmbedContainter object,
div.ytEmbedContainter embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

